body { background-color: #BC8F44; margin: 3px 0px 3px 0px; font-family: 'Nunito', sans-serif; font-weight: 300; }

a { color: #399D87; text-decoration: none; }
a:hover { text-decoration: none; color: #005C47; }

h1 { color: #674000; margin: 0px }
h2 { color: #672700; margin: 0px }
h3 { color: #61000F; margin: 0px }
p { margin: 5px 0px 5px 0px; }
.maincolumn {
	width: 768px;
	margin: 0px auto 0px auto;
	padding: 0px;
}

.sitetitle {
	padding: 20px 0px 0px 20px;
	margin: 0px;
	background-color: #870015;
	color: white; /* #BC5F26; */
	font-weight: 700;
}

.sitesubtitle {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	font-weight: 700;
	font-size: 14pt;
	background-color: #723A17;
	color: #BC8F44;
	border: 1px solid #870015;	
}

.sitecontent {
	padding: 10px 20px 10px 20px;
	border: 1px solid #870015;
	margin: 0px;
	background-color: white;
	color: black;
}

.linkbar {
	font-weight: 700;
	padding: 5px 0px 20px 20px;
	background-color: #870015;
	color: #BC8F44; /* #61000F; */
}

.current {
	color: white;
	text-decoration: none;
}

.cv {
	font-size: 10pt;
}